{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default" style="position: fixed; top: 50%; left:50%; transform: translate(-50%, -50%); ">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                {% if form.errors %}
                    <p class="errortext">Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form role="form"  method="post" action="{% url 'authenticate_user' %}" class="form-signin">
                    {% csrf_token %}
					<input type="hidden" name="next" value="{{ next }}" />
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" type="username" value='{{ form.username.value|default_if_none:"" }}' autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>

                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In" />
                    </fieldset>
                </form>
                </br>
                <form role="form" method="post" action="{% url 'new_user' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register" />
                    
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">

    </div>
</div>

{% endblock %}
