{% extends "base2.html" %}

{% block content %}

<div class="col-md-6">
	<div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
			{% if post.image %}
            <img class="media-object" style="height: 100px; width: 100px" src="{{ post.image.url }}" alt="...">
			{% endif %}
          </a>
        </div>
        <div class="media-body">
        	<h4>{{ post.subject }}</h4>
        	<p>{{ post.description }}</p>
        	<p>${{ post.cost }}</p>
        </div>
      </div>     	
    </div>
	</br>
	<form role="form" id="post_form" method="post" action="{% url 'actualbuy' %}" >
		
		{% csrf_token %}
  		</br>
  		<label for="payment">Choose Payment Method</label>
  		</br>
  		<input type="radio" name="payment" value="Cash on delivery" checked> Cash on Delivery
  		</br>
  		<input type="radio" name="payment" value="Service A"> Service A
  		</br>
  		<input type="radio" name="payment" value="Service B"> Service B
		</br>
		<label for="notes">Notes</label>
		<textarea class="form-control" rows="3" name="notes"></textarea>
		</br>
		<input type="hidden" name="itemid" value={{ post.pk }} >
		<input type="submit" class="btn btn-primary" id="submit_button" value="Buy"/>
	</form>


	<a href="{% url 'home' %}"><button class="btn btn-default">cancel</button></a>
</div>

    
{% endblock %}
