{% extends "base2.html" %}

{% block content %}

<!--Item info-->
<div class="col-md-6 well" itemscope itemtype="http://schema.org/Product">
  <a href="{% url 'view_post' post.id %}"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
  <h3 itemprop="name">{{ post.subject }}</h3>
	<div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
          {% if post.image %}
            <img itemprop="image" class="media-object" style="height: 100px; width: 100px" src="{{ post.image.url }}" alt="...">
          {% endif %}
          </a>
        </div>
        <div class="media-body">
        </div>
      </div>     	
    </div>
    <p itemprop="description">{{ post.description }}</p>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <link itemprop="acceptedPaymentMethod" rel="http://purl.org/goodrelations/v1#COD">
      <link itemprop="availability" href="http://schema.org/InStock">
      <span class="hidden" itemprop="priceCurrency" content="USD"></span>
      <p> Cost: {% if post.cost == 0 %} <span itemprop="price" content="0">Free</span> {% else %} $<span itemprop="price">{{ post.cost }}</span> {% endif %} </p>
    </div>
	</br>

  <!--Checkout form-->
	<form id="post_form" action="{% url 'buy' post.id %}" method="post">
		{% csrf_token %}
  	</br>
		<label for="payment">Choose Payment Method</label>
		</br>
		<input type="radio" name="payment" value="Cash on delivery" checked> Cash on Delivery
		</br>
    {% if post.barter_type == "goods" or post.barter_type == "both" %}
		  <input type="radio" name="payment" value="barter good"> Barter a good
    {% endif %}
		</br>
    {% if post.barter_type == "services" or post.barter_type == "both" %}
		  <input type="radio" name="payment" value="barter service"> Barter a service
    {% endif %}
	  </br>
	  <label for="notes">Notes</label>
	  <textarea class="form-control" rows="3" id="notes" name="notes"></textarea>
	  </br>
	  <input class="btn btn-primary" id="submit_button"  type="submit" value="Buy"/>     
	</form>
</div>

    
{% endblock %}
