{% extends "base2.html" %}

{% block content %}
  
	<div class="col-md-8 well">  
    {% if posts.count == 0 %}
      <p style="text-align: center;">There are no posts</p>
    {% endif %}   
  		{% for post in post_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="float:right;">
                    <a href="{% url 'view_post' post.id %}"><button class="btn btn-primary btn-xs">View</button></a>
                    <a href="{% url 'checkout' post.id %}"><button class="btn btn-primary btn-xs">Buy</button></a>
                </span>

                <h3 class="panel-title">{{ post.subject }} - {% if post.cost == 0 %} Free {% else %} ${{ post.cost }} {% endif %} </h3>
            </div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left">
                  <a href="{% url 'view_post' post.id %}">
                    {% if post.image %}
                    <img class="media-object" style="height: 75px; width: 75px" src="{{ post.image.url }}">
                    {% endif %}
                  </a>
                </div>
                <div class="media-body">
                  <p>{{ post.description }}</p>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
      {% if posts %}
      <div style="text-align: center;">
        <div class="pagination" style="margin: auto;">
          <span class="step-links">
            {% if post_page.number != 1 %}
              <a href="?page=1"><button class="btn btn-primary btn-xs">First</button></a>
            {% endif %}
            {% if post_page.has_previous %}
              <a href="?page={{ post_page.previous_page_number }}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
            {% endif %}
            <span class="current">
              page {{ post_page.number }} of {{ post_page.paginator.num_pages }}
            </span>
            {% if post_page.has_next %}
              <a href="?page={{ post_page.next_page_number }}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
            {% endif %}
            {% if post_page.number != post_page.paginator.num_pages %}
              <a href="?page={{ post_page.paginator.num_pages }}"><button class="btn btn-primary btn-xs">Last</button></a>
            {% endif %}
          </span>
        </div>
      </div>
      {% endif %}
    </div>
	</div> 
	
	<div class="col-md-4">
		<button type="button" class="btn btn-primary col-md-offset-4" data-toggle="modal" data-target="#myModal">
        New Listing 
      	</button>
		<form action="{% url 'search_results' %}" method="post">
      {% csrf_token %}
			</br>
			</br>
      <label for="keyword">Search by keyword</label>
      <input type="text" class="form-control" name="keyword">		
			</br>
			<div class="checkbox">
    		<label>
      		<input type="checkbox" name="free"> Only Free
    		</label>
  		</div>
  		</br>
			<label for="limit">Price less than</label>
			<select class="form-control" id="limit" name="limit">
        <option value=""></option>
				<option value="10">$10</option>
        <option value="20">$20</option>
        <option value="50">$50</option>
        <option value="100">$100</option>
			</select>
			</br>
			<label> Looking For </label>
			<div class="checkbox">
		    <label>
		      <input type="checkbox" name="good"> Goods
		    </label>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" name="service"> Services
		    </label>
		  </div>
			</br>
      <input type="hidden" name="search" value="true">
      <input class="btn btn-default" id="submit"  type="submit" value="Search"/>
		</form>
    </br>
    {% if messages %}
      {% for message in messages %}
        <h5{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></h5>
      {% endfor %}
    {% endif %}
	</div>

	<!--modal-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Create a new listing</h4>
        </div>
          <div class="modal-body">

              <div>

                <!-- Nav tabs 
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#date" aria-controls="date" role="tab" data-toggle="tab">Good</a></li>
                  <li role="presentation"><a href="#range" aria-controls="range" role="tab" data-toggle="tab">Service</a></li>
                </ul>-->

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="date">
                    </br>
                    <!-- form for search by date -->
                    <form id="post_form" action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
          						{% csrf_token %}
          						</br>
          						<label for="subject">Title</label>
          						<input class="form-control" type="text" id="subject" name="subject">
          						</br>
          						</br>
          						<label for="description">Description</label>
          						<textarea class="form-control" rows="3" id="description" name="description"></textarea>
          						</br>
                      <label for="image">Image</label>
                      <input class="form-control" type="file" name="image">
                      </br>
          						<label for="cost">Price</label>
          						<input class="form-control" type="text" id="cost" name="cost" value="0">
          						</br>
                      <label for="type">Good or Service</label>
                      <select class="form-control" id="type" name="type">
                        <option value="good">Good</option>
                        <option value="service">Service</option>
                      </select>
                      </br>
                      <label for="barter">Accept goods/services</label>
                      <select class="form-control" id="barter" name="barter">
                      <option value="1">None</option>
                      </select>
                      </br>
          						<input class="btn btn-default" id="submit_button"  type="submit" value="Post"/>
          					      
					          </form>
                  </div>
                </div>
              </div>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
      </div> <!-- end modal content -->
    </div> <!-- end modal-dialog -->
  </div> <!-- end modal -->
{% endblock %}