{% extends "base2.html" %}

{% block content %}
<div class="col-md-3 well">
  <form hidden id="post_form" action="{% url 'update_profile' %}" method="post">
    {% csrf_token %}
    </br>
    <label for="first">First Name</label>
    <input class="form-control" type="text" id="first" name="first" value="{{ user.first_name }}">
    </br>
    <label for="last">Last Name</label>
    <input class="form-control" type="text" id="last" name="last" value="{{ user.last_name }}">
    </br>
    <label for="email">Email</label>
    <input class="form-control" type="text" id="email" name="email" value="{{ user.email }}">
    </br>
    <label for="birthday">Birthday</label>
    <input class="form-control" type="date" id="birthday" name="birthday" value="{{ userstuff.getDateForHTML }}">
    </br>
    <label for="location">Location</label>
    <input class="form-control" type="text" id="location" name="location" value="{{ userstuff.location }}">
    </br>
    <label for="gender">Gender</label>
    <select class="form-control" id="gender" name="gender" value="{{ userstuff.gender }}">
      <option value="">Not Specified</option>
      {% for gender in userstuff.GENDER_CHOICES %}
      <option {% if gender.1 == userstuff.gender %}selected{% endif %}>{{ gender.1 }}</option>
      {% endfor %}
      </select>
    </br>
    <input class="btn btn-primary" id="submit_button"  type="submit" value="Submit"/>
    <input class="btn btn-default" id="cancel_button" type="reset" value="Cancel">
  </form>

  <div id="user_info" itemscope itemtype="http://schema.org/Person">
    <h3 id="subject"> Profile </h3>
    </br>
    <p itemprop="name"> Name: {{ user.first_name }} {{ user.last_name }} </p>
    </br>
    <p itemprop="email"> Email: {{ user.email }} </p>
    {% if user == actual %}
    </br>
    <p> ID: {{ userstuff.umbcid }} </p>
    {% endif %}
    </br>
    {% if userstuff.location %}
    <p itemprop="address"> Location: {{ userstuff.location }} </p>
    </br>
    {% endif %}
    {% if userstuff.birth_date %}
    <p><time itemprop="birthDate" datetime="{{ userstuff.getDateForHTML }}"> Birthday: {{ userstuff.birth_date }} </time></p>
    </br>
    {% endif %}
    {% if userstuff.gender %}
    <p itemprop="gender"> Gender: {{ userstuff.gender }} </p>
    </br>    
    {% endif %}
    <div itemscope itemtype="http://schema.org/AggregateRating">
      <span class="hidden" itemprop="ratingValue">{{ userstuff.rating }}</span>
      {% for i in ratingcounter %}
        <span class="glyphicon glyphicon-star"></span>
	  {% endfor %}
	  {% for i in missing %}
      <span class="glyphicon glyphicon-star-empty"></span>
	  {% endfor %}
    </div>
    </br>
    </br>
    {% if user == actual %}
    
    <button id="edit_button" class="btn btn-default btn-sm">Edit Profile</button>
    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">Delete Account</button>
    </br>
    </br>
    <a href="{% url 'transactions' %}"><button class="btn btn-default btn-sm">Pending Transactions</button></a>
    {% endif %}
  </div>
</div>

<div class="col-md-8 col-md-offset-1 well">
  {% if posts.count == 0 %}
    <p style="text-align: center;">Your posts will show up here</p>
  {% endif %}
  {% for post in post_page %}
  <div class="panel panel-default">
      <div class="panel-heading">
          <span style="float:right;">
              <a href="{% url 'view_post' post.id %}"><button class="btn btn-primary btn-xs">View</button></a>
              {% if user == actual %}
              <a href="{% url 'delete_post' post.id %}"><button class="btn btn-danger btn-xs">Delete</button></a>
              {% else %}
              <a href="{% url 'checkout' post.id %}"><button class="btn btn-primary btn-xs">Buy</button></a>
              {% endif %}
          </span>

          <h3 class="panel-title"><span>{{ post.subject }}</span> - {% if post.cost == 0 %} Free {% else %} ${{ post.cost }} {% endif %} {% if post.hourly == True and post.cost > 0 %} Per Hour {% endif %}</h3>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <a href="#">
              {% if post.image %}
              <img class="media-object" style="height: 75px; width: 75px;" src="{{ post.image.url }}">
              {% endif %}
            </a>
          </div>
          <div class="media-body">
            <p>{{ post.description }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if posts %}
    <div style="text-align: center;">
      <div class="pagination" style="margin: auto;">
        <span class="step-links">
          {% if post_page.number != 1 %}
            <a href="?page=1"><button class="btn btn-primary btn-xs">First</button></a>
          {% endif %}
          {% if post_page.has_previous %}
            <a href="?page={{ post_page.previous_page_number }}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
          {% endif %}
          <span class="current">
            page {{ post_page.number }} of {{ post_page.paginator.num_pages }}
          </span>
          {% if post_page.has_next %}
            <a href="?page={{ post_page.next_page_number }}"><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button></a>
          {% endif %}
          {% if post_page.number != post_page.paginator.num_pages %}
            <a href="?page={{ post_page.paginator.num_pages }}"><button class="btn btn-primary btn-xs">Last</button></a>
          {% endif %}
        </span>
      </div>
    </div>
  {% endif %}
  </div>
</div> 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
        <a href="{% url 'delete_account' %}"><button class="btn btn-danger btn-sm">Delete Account</button></a>
      </div>
    </div> 
  </div> 
</div> 
	
{% endblock %}
{% block miscjs %}
<script type="text/javascript">
  $('#edit_button').click(function() {
    $('#post_form').toggle();
    $('#user_info').toggle();
  });
  $('#cancel_button').click(function() {
    $('#post_form').toggle();
    $('#user_info').toggle();
  });
</script>
{% endblock %}
