{% extends "base2.html" %}

{% block content %}
<div class="col-md-5"> 
  <p>Your purchased items</p>
  <div class="well">  
    {% if purchased.count == 0 %}
      <p style="text-align: center;">There are no posts</p>
    {% endif %}   
  		{% for transaction in purchased %}
        {% if transaction.buyer_canceled == False %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="float:right;">
                  {% if transaction.status == "canceled" %}
                    <a href="{% url 'complete_transaction' transaction.id %}"><button class="btn btn-danger btn-xs">Dismiss</button></a>
                  {% else %}
                  <a href="{% url 'view_transaction' transaction.id %}"><button class="btn btn-primary btn-xs">View</button></a>
                  {% endif %}
                </span>
                <h3 class="panel-title">{{ transaction.post.subject }} </h3>
                
            </div>
            <div class="panel-body">
              {% if transaction.buyer_read == False %} <p style="color: red"> - Unread</p> {% endif %}
              {% if transaction.sellerconfirmed == True and transaction.status != "canceled" %} <p> - The seller has confirmed this transaction</p> {% endif %}
              {% if transaction.buyerpaid == True and transaction.status != "canceled" %} <p> - You have confirmed this transaction, waiting on seller</p> {% endif %}
              {% if transaction.status == "canceled" and transaction.buyer_read == False %}
              <p>The seller has re-listed this post</p>
              {% endif %}
              {% if transaction.status == "canceled" and transaction.seller_read == False %}
              <p>The buyer has canceled the transaction</p>
              {% endif %}
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
	</div>
  </div> 
<div class="col-md-5 col-md-offset-2">
  <p>your sold items</p>
  <div class="well">  
    {% if sold.count == 0 %}
      <p style="text-align: center;">There are no posts</p>
    {% endif %}   
      {% for transaction in sold %}
        {% if transaction.seller_relisted == False %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="float:right;">
                  {% if transaction.status == "canceled" %}
                  <a href="{% url 'complete_transaction' transaction.id %}"><button class="btn btn-danger btn-xs">Dismiss</button></a>
                  {% else %}
                  <a href="{% url 'view_transaction' transaction.id %}"><button class="btn btn-primary btn-xs">View</button></a>
                  {% endif %}
                </span>
                <h3 class="panel-title">{{ transaction.post.subject }}</h3>
            </div>
            <div class="panel-body">
              {% if transaction.seller_read == False %} <p style="color: red"> - Unread</p> {% endif %}
              {% if transaction.buyerpaid == True and transaction.status != "canceled"%} <p> - The buyer has confirmed this transaction</p> {% endif %}
              {% if transaction.sellerconfirmed == True and transaction.status != "canceled"%} <p> - You have confirmed this transaction, waiting on buyer</p> {% endif %}
              {% if transaction.status == "canceled" and transaction.buyer_read == False %}
              <p>The seller has re-listed this post</p>
              {% endif %}
              {% if transaction.status == "canceled" and transaction.seller_read == False %}
              <p>The buyer has canceled the transaction</p>
              {% endif %}
            </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div> 

{% endblock %}