{% extends "base2.html" %}

{% block content %}

<div id="post_info" class="col-md-6 well">
  
  <div class="panel-body">
  <h3 id="subject"> {{post.subject}} </h3>
  </br>
  <p>Description:</p>
  <p>{{ post.description }}</p>
  </br>
  <p> Cost: {% if post.cost == 0 %} Free {% else %} ${{ post.cost }} {% endif %} </p>
  </br>
  <p> Payment type: {{ transaction.payment_type }} </p>
  </br>
  {% if user == transaction.buyer %}
  <p> Seller: <a href="{% url 'profile' transaction.seller.id %}">{{ transaction.seller.first_name }} {{ transaction.seller.last_name }}</a></p>
  </br>
  <p> Seller email: {{transaction.seller.email}}</p>
  </br>
  {% endif %}
  {% if user == transaction.seller %}
  <p> Buyer: <a href="{% url 'profile' transaction.buyer.id %}">{{transaction.buyer.first_name}} {{transaction.buyer.last_name}}</a></p>
  </br>
  <p> Buyer email: {{transaction.buyer.email}} </p>
  </br>
  {% endif %}
  <p> Notes: {{transaction.notes}}</p>
  </br>
	{% if user == transaction.buyer and not transaction.buyerpaid  or user == transaction.seller and not transaction.sellerconfirmed %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Confirm exchange</button>
	{% else %}
	<h4><b>Transaction already confirmed</b></h4>
	{% endif %}
  {% if user == transaction.seller %}
  <a href="{% url 'relist_post' transaction.id %}"><button class="btn btn-primary">Re-list Post</button></a>
  {% else %}
  <a href="{% url 'relist_post' transaction.id %}"><button class="btn btn-default">Cancel Transaction</button></a>
  {% endif %}
  <!--
	<a href="{% url 'complete_transaction' transaction.id %}"><button class="btn btn-primary">Confirm Exchange</button></a>-->

  </br>
  </br>
  {% if transaction.buyerpaid == True and user == transaction.seller %}
    <p>The buyer has confirmed that the exchange has taken place, if this is true please select "Confirm Exchange" to complete the transaction</p>
  {% endif %}
  {% if transaction.sellerconfirmed == True and user == transaction.buyer %}
    <p>The seller has confirmed that the exchange has taken place, if this is true please select "Confirm Exchange" to complete the transaction</p>
  {% endif %}
</div>


<!-----
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Relist Post</h4>
        </div>
          <div class="modal-body">

              <div>
               <a href="{% url 'relist_post' transaction.id %}"><button class="btn btn-primary">Re-list Post</button></a>
              </div>
          </div>
      </div> 
    </div> 
  </div> 
-->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please Rate This Transaction</h4>
        </div>
          <div class="modal-body">
              <div>
                <form action="{% url 'complete_transaction' transaction.id %}" method="post">
                  {% csrf_token %}
                  <div style="right: 50%;">
                    <button id="one_star_button" style="background: transparent; border: none !important;" type="button">
                      <span id="one_star" class="glyphicon glyphicon-star-empty" style="font-size: 2em"></span>
                    </button>
                    <button id="two_star_button" style="background: transparent; border: none !important;" type="button">
                    <span id="two_star" class="glyphicon glyphicon-star-empty" style="font-size: 2em"></span>
                    </button>
                    <button id="three_star_button" style="background: transparent; border: none !important;" type="button">
                    <span id="three_star" class="glyphicon glyphicon-star-empty" style="font-size: 2em"></span>
                    </button>
                    <button id="four_star_button" style="background: transparent; border: none !important;" type="button">
                    <span id="four_star" class="glyphicon glyphicon-star-empty" style="font-size: 2em"></span>
                    </button>
                    <button id="five_star_button" style="background: transparent; border: none !important;" type="button">
                    <span id="five_star" class="glyphicon glyphicon-star-empty" style="font-size: 2em"></span>
                    </button>
                  </div>
                  </br>
                  <input hidden id="check_one" type="radio" name="rating" value="1">
                  <input hidden id="check_two" type="radio" name="rating" value="2">
                  <input hidden id="check_three" type="radio" name="rating" value="3">
                  <input hidden id="check_four" type="radio" name="rating" value="4">
                  <input hidden id="check_five" type="radio" name="rating" value="5" checked="checked">
                  <input class="btn btn-default" id="submit"  type="submit" value="Complete Transaction">
                </form>
              </div>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>-->
      </div> <!-- end modal content -->
    </div> <!-- end modal-dialog -->
  </div> <!-- end modal -->
<!--
<span class="glyphicon glyphicon-star-empty"></span>
-->
{% endblock %}
{% block miscjs %}
<script type="text/javascript">
  $('#edit_button').click(function() {
    $('#edit_form').toggle();
    $('#post_info').toggle();
  });
  $('#cancel_button').click(function() {
    $('#edit_form').toggle();
    $('#post_info').toggle();
  });

  $('#one_star_button').click(function() {
    $('#one_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#two_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#three_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#four_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#five_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#check_one').prop("checked", true)
  });
  $('#two_star_button').click(function() {
    $('#one_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#two_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#three_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#four_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#five_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#check_two').prop("checked", true)
  });
  $('#three_star_button').click(function() {
    $('#one_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#two_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#three_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#four_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#five_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#check_three').prop("checked", true)
  });
  $('#four_star_button').click(function() {
    $('#one_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#two_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#three_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#four_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#five_star').removeClass("glyphicon-star").addClass("glyphicon-star-empty")
    $('#check_four').prop("checked", true)
  });
  $('#five_star_button').click(function() {
    $('#one_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#two_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#three_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#four_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#five_star').removeClass("glyphicon-star-empty").addClass("glyphicon-star")
    $('#check_five').prop("checked", true) 
  });
</script>
{% endblock %}



