{% extends "base2.html" %}

{% block content %}

<div id="post_info" class="col-md-6 well" itemscope itemtype="http://schema.org/Product">
  <h3 id="subject" itemprop="name"> {{post.subject}} </h3>
  <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
          {% if post.image %}
            <img itemprop="image" class="media-object" style="height: 100px; width: 100px;" src="{{post.image.url}}" alt="...">
          {% endif %}
          </a>
        </div>
        <div class="media-body">        	
        </div>
      </div>
    </div>
  <p>Description:</p>
  <p itemprop="description">{{ post.description }}</p>
  </br>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="acceptedPaymentMethod" rel="http://purl.org/goodrelations/v1#COD">
    <link itemprop="availability" href="http://schema.org/InStock">
    <span class="hidden" itemprop="priceCurrency" content="USD"></span>
    <p> Cost: {% if post.cost == 0 %} <span itemprop="price" content="0">Free</span> {% else %} $<span itemprop="price">{{ post.cost }}</span> {% endif %} </p>
    </br>
    <p> Goods/Services accepted: {{ post.barter_type }} </p>
  </div>
  </br>
  <p itemscope itemtype="http://schema.org/Person" itemprop="offeredBy"> Seller: <a href="{% url 'profile' post.user.id %}" itemprop="name">{{ post.user.first_name }} {{ post.user.last_name }}</a> </p>
  </br>
  {% if user != post.user %}
    <a href="{% url 'checkout' post.id %}"><button class="btn btn-primary">Buy</button></a>
  {% endif %}
  {% if user == post.user %}
  <button id="edit_button" class="btn btn-primary">Edit</button>
  <a href="{% url 'delete_post' post.id %}"><button class="btn btn-danger">Delete</button></a>
  {% endif %}
</div>
<div hidden id="edit_form" class="col-md-6 well">
  <form id="post_form" action="{% url 'update_post' post.id%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    </br>
    <label for="subject">Title</label>
    <input class="form-control" type="text" id="subject" name="subject" value="{{ post.subject }}">
    </br>
    </br>
    <label for="description">Description</label>
    <textarea class="form-control" rows="3" id="description" name="description" value="{{ post.description }}">{{ post.description }}</textarea>
    </br>
    <label for="image">Image</label>
    <input class="form-control" type="file" name="image">
    </br>
    <label for="cost">Price</label>
    <input class="form-control" type="text" id="cost" name="cost" value="{{ post.cost }}">
    </br>
    <label for="type">Good or Service</label>
    <select class="form-control" id="type" name="barter">
      <option value="both">Both</option>
      <option value="goods">Goods</option>
      <option value="services">Services</option>
    </select>
    </br>
    <input class="btn btn-primary" id="submit_button"  type="submit" value="Post"/>
    <input class="btn btn-default" id="cancel_button" type="reset" value="Cancel">                        
  </form>
  </br>
  </br>
</div>

    
{% endblock %}
{% block miscjs %}
<script type="text/javascript">
  $('#edit_button').click(function() {
    $('#edit_form').toggle();
    $('#post_info').toggle();
  });
  $('#cancel_button').click(function() {
    $('#edit_form').toggle();
    $('#post_info').toggle();
  });
</script>
{% endblock %}
