{% extends "base2.html" %}

{% block content %}

<div class="col-md-6">
  <h3 id="subject"> {{post.subject}} </h3>
  <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" style="height: 100px; width: 100px;" src="{{post.image.url}}" alt="...">
          </a>
        </div>
        <div class="media-body">
        	<!--<h4>{{ post.subject }}</h4>-->
        	<p>{{ post.description }}</p>
        </div>
      </div>     	
    </div>
  <p> cost: ${{ post.cost }} </p>
  </br>
  <p> Goods/Services accepted: None </p>
  </br>
  <p> seller: {{ post.user.first_name }} {{ post.user.last_name }} </p>
  <a href="{% url 'checkout' post.id %}"><button class="btn btn-primary">Buy</button></a>
</div>

    
{% endblock %}